* {
    margin: 0;
}

h1 {
    font-family: "Jacquard 24", system-ui;
    font-size: 48px;
    color: #ffffff;
}
nav {
    background: #34312D;
    justify-content: space-between;
    display: flex;
    height: inherit;
    padding-block: 20px;
    padding-inline: 20px;
    align-items: center;
}
a{
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}
.navlinks{
    color: white;
    display: flex;
    gap: 20px;
}